  <button class="btn btn-primary ml-3"  [routerLink]="['/']" >go  home</button>
<p *ngIf="!catalog" class="card-text">Catalog not found</p>

<div class="card mb-3" style="max-width: 100%; margin: 200px;" *ngIf="catalog">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="generateRandomImage()" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{catalog.name}}</h1>
        <h2 class="card-title">{{catalog.category}}</h2>
        <p class="card-text">
          {{catalog.description}}
          </p>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

